<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="RodentVR" Language="1033" Version="1.0.0.0" Manufacturer="Ryan West" UpgradeCode="75b2ed01-8844-4c55-965c-28fa2278f90b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<UIRef Id="WixUI_MyInstall"/>
		<Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" xml:space="preserve">The following products have been installed:
  • RodentVR
  • RodentVR Settings
  • RodentVR Behavior Visualizer
</Property>
		<Property Id="ARPPRODUCTICON" Value="RodentVR.exe" />
		<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
		<Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
		<WixVariable Id="WixUIDialogBmp" Overridable="yes" Value="Resources\WelcomeLogo.jpg" />
		<WixVariable Id="WixUIBannerBmp" Overridable="yes" Value="Resources\TopBanner.jpg" />
		<Icon Id="RodentVR.exe" SourceFile="Resources/RodentVR.ico" />
		<Icon Id="RodentVRBehaviorVisualizer.exe" SourceFile="Resources/RodentVRBehaviorVisualizer.ico" />
		<Icon Id="RodentVRSettings.exe" SourceFile="Resources/RodentVRSettings.ico" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="CompleteFeatures" Title="RodentVR" Level="1">
			<ComponentRef Id="BehaviorVisualizerEXEComponent" />
			<ComponentRef Id="BehaviorVisualizerColorPickerLibComponent" />
			<ComponentRef Id="BehaviorVisualizerControlzExComponent" />
			<ComponentRef Id="BehaviorVisualizerMahAppsComponent" />
			<ComponentRef Id="BehaviorVisualizerNumericUpDownLibComponent" />
			<ComponentRef Id="BehaviorVisualizerSystemWindowsInteractivityComponent" />
			<ComponentRef Id="BehaviorVisualizerXceedToolkitComponent" />

			<ComponentRef Id="RodentVRProgramMenuComponent" />

			<ComponentRef Id="RodentVRSettingsEXEComponent" />
			<ComponentRef Id="RodentVRSettingsControlzExComponent" />
			<ComponentRef Id="RodentVRSettingsMahAppsComponent" />
			<ComponentRef Id="RodentVRSettingsSystemWindowsInteractivityComponent" />
			<ComponentRef Id="RodentVRSettingsRawInputComponent" />

			<ComponentRef Id="RodentVREXEComponent" />
			<ComponentRef Id="RodentVR_NVIDIA" />
			<!--<ComponentRef Id="RodentVR_Oculus" />-->
			<ComponentRef Id="RodentVR_Ogg" />
			<!--<ComponentRef Id="RodentVR_OpenVR" />-->
			<ComponentRef Id="RodentVR_Vorbis" />
			<ComponentRef Id="RodentVR_PhysX3" />
			<ComponentRef Id="RodentVR_Windows" />

			<ComponentRef Id="RodentVRExtra" />
			<ComponentRef Id="RodentVRBinary" />
			<ComponentRef Id="RodentVRContentPak" />

		</Feature>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="RodentVR">
					<Directory Id="RodentVR_INSTALLDIR" Name="RodentVR">
						<Component Id="RodentVREXEComponent" Guid="*">
							<File Source="ApplicationFiles/RodentVR/rodent_vr.exe" KeyPath="yes">
								<Shortcut Id="startMenuRodentVR" Icon="RodentVR.exe" Name="RodentVR" Directory="RodentVRProgramMenu" WorkingDirectory="RodentVR_INSTALLDIR" Advertise="yes"/>
								<Shortcut Id="desktopRodentVR" Icon="RodentVR.exe" Name="RodentVR" Directory="DesktopFolder" WorkingDirectory="RodentVR_INSTALLDIR" Advertise="yes"/>
							</File>
						</Component>
						<Directory Id="RodentVR_Engine" Name="Engine">
							<Directory Id="RodentVR_Engine_Binaries" Name="Binaries">
								<Directory Id="RodentVR_Engine_ThirdParty" Name="ThirdParty">
									<Directory Id="RodentVR_NVIDIA" Name="NVIDIA">
										<Directory Id="RodentVR_NVaftermath" Name="NVaftermath">
											<Directory Id="RodentVR_NVaftermath_Win64" Name="Win64">
												<Component Id="RodentVR_NVIDIA" Guid="*">
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/NVIDIA/NVaftermath/Win64/GFSDK_Aftermath_Lib.x64.dll" KeyPath="yes" />
												</Component>
											</Directory>
										</Directory>
									</Directory>
									<!--<Directory Id="RodentVR_Oculus" Name="Oculus">
										<Directory Id="RodentVR_OVRPlugin" Name="OVRPlugin">
											<Directory Id="RodentVR_OVRPlugin2" Name="OVRPlugin">
												<Directory Id="RodentVR_OVRPlugin_Win64" Name="Win64">
													<Component Id="RodentVR_Oculus" Guid="*">
														<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/Oculus/OVRPlugin/OVRPlugin/Win64/OVRPlugin.dll" KeyPath="yes" />
													</Component>
												</Directory>
											</Directory>
										</Directory>
									</Directory>-->
									<Directory Id="RodentVR_Ogg" Name="Ogg">
										<Directory Id="RodentVR_Ogg_Win64" Name="Win64">
											<Directory Id="RodentVR_VS2015" Name="VS2015">
												<Component Id="RodentVR_Ogg" Guid="*">
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/Ogg/Win64/VS2015/libogg_64.dll" KeyPath="yes" />
												</Component>
											</Directory>
										</Directory>
									</Directory>
									<!--<Directory Id="RodentVR_OpenVR" Name="OpenVR">
										<Directory Id="RodentVR_OpenVRv1_0_11" Name="OpenVRv1_0_11">
											<Directory Id="RodentVR_OpenVR_Win64" Name="Win64">
												<Component Id="RodentVR_OpenVR" Guid="*">
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/OpenVR/OpenVRv1_0_11/Win64/openvr_api.dll" KeyPath="yes" />
												</Component>
											</Directory>
										</Directory>
									</Directory>-->
									<Directory Id="RodentVR_Vorbis" Name="Vorbis">
										<Directory Id="RodentVR_Vorbis_Win64" Name="Win64">
											<Directory Id="RodentVR_Vorbis_VS2015" Name="VS2015">
												<Component Id="RodentVR_Vorbis" Guid="6653d28c-3996-4bed-9c49-df52a8f2185c">
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/Vorbis/Win64/VS2015/libvorbis_64.dll" KeyPath="yes" />
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/Vorbis/Win64/VS2015/libvorbisfile_64.dll" />
												</Component>
											</Directory>
										</Directory>
									</Directory>
									<Directory Id="RodentVR_PhysX3" Name="PhysX3">
										<Directory Id="RodentVR_PhysX3_Win64" Name="Win64">
											<Directory Id="RodentVR_PhysX3_VS2015" Name="VS2015">
												<Component Id="RodentVR_PhysX3" Guid="30c8ce30-954b-4840-ae54-28df1c6c6e11">
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/PhysX3/Win64/VS2015/APEX_Clothing_x64.dll" KeyPath="yes" />
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/PhysX3/Win64/VS2015/APEX_Legacy_x64.dll" />
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/PhysX3/Win64/VS2015/ApexFramework_x64.dll" />
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/PhysX3/Win64/VS2015/NvCloth_x64.dll" />
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/PhysX3/Win64/VS2015/PhysX3_x64.dll" />
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/PhysX3/Win64/VS2015/PhysX3Common_x64.dll" />
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/PhysX3/Win64/VS2015/PhysX3Cooking_x64.dll" />
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/PhysX3/Win64/VS2015/PxFoundation_x64.dll" />
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/PhysX3/Win64/VS2015/PxPvdSDK_x64.dll" />
												</Component>
											</Directory>
										</Directory>
									</Directory>
									<Directory Id="RodentVR_Windows" Name="Windows">
										<Directory Id="RodentVR_DirectX" Name="DirectX">
											<Directory Id="RodentVR_Windows_x64" Name="x64">
												<Component Id="RodentVR_Windows" Guid="*">
													<File Source="ApplicationFiles/RodentVR/Engine/Binaries/ThirdParty/Windows/DirectX/x64/WinPixEventRuntime.dll" KeyPath="yes" />
												</Component>
											</Directory>
										</Directory>
									</Directory>
									<!--Add ThirdParty Things-->
								</Directory>
							</Directory>
							<Directory Id="RodentVR_Extras" Name="Extras">
								<Directory Id="RodentVR_Redist" Name="Redist">
									<Directory Id="RodentVR_en_us" Name="en-us">
										<Component Id="RodentVRExtra" Guid="*">
											<File Source="ApplicationFiles/RodentVR/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe" KeyPath="yes" />
										</Component>
									</Directory>
								</Directory>
							</Directory>
						</Directory>
						<Directory Id="rodent_vr" Name="rodent_vr">
							<Directory Id="RodentVR_Binaries" Name="Binaries">
								<Directory Id="RodentVR_Win64" Name="Win64">
									<Component Id="RodentVRBinary" Guid="*">
										<File Source="ApplicationFiles/RodentVR/rodent_vr/Binaries/Win64/rodent_vr-Win64-Shipping.exe" KeyPath="yes" />
									</Component>
								</Directory>
							</Directory>
							<Directory Id="RodentVR_Content" Name="Content">
								<Directory Id="RodentVR_Paks" Name="Paks">
									<Component Id="RodentVRContentPak" Guid="*">
										<File Source="ApplicationFiles/RodentVR/rodent_vr/Content/Paks/rodent_vr-WindowsNoEditor.pak" KeyPath="yes" />
									</Component>
								</Directory>
							</Directory>
						</Directory>
					</Directory>

					<Directory Id="RodentVRSettings_INSTALLDIR" Name="RodentVRSettings">
						<Component Id="RodentVRSettingsEXEComponent" Guid="*">
							<File Source="ApplicationFiles/RodentVRSettings/RodentVRSettings.exe" KeyPath="yes">
								<Shortcut Id="startMenuRodentVRSettings" Icon="RodentVRSettings.exe" Name="RodentVR Settings" Directory="RodentVRProgramMenu" WorkingDirectory="RodentVRSettings_INSTALLDIR" Advertise="yes"/>
								<Shortcut Id="desktopRodentVRSettings" Icon="RodentVRSettings.exe" Name="RodentVR Settings" Directory="DesktopFolder" WorkingDirectory="RodentVRSettings_INSTALLDIR" Advertise="yes"/>
							</File>
						</Component>
						<Component Id="RodentVRSettingsControlzExComponent" Guid="*">
							<File Id="RodentVRSettingsControlzEx" Source="ApplicationFiles/RodentVRSettings/ControlzEx.dll" />
						</Component>
						<Component Id="RodentVRSettingsMahAppsComponent" Guid="*">
							<File Id="RodentVRSettingsMahApps" Source="ApplicationFiles/RodentVRSettings/MahApps.Metro.dll" />
						</Component>
						<Component Id="RodentVRSettingsSystemWindowsInteractivityComponent" Guid="*">
							<File Id="RodentVRSettingsSystemWindowsInteractivity" Source="ApplicationFiles/RodentVRSettings/System.Windows.Interactivity.dll" />
						</Component>
						<Component Id="RodentVRSettingsRawInputComponent" Guid="*">
							<File Source="ApplicationFiles/RodentVRSettings/RawInput.dll" />
						</Component>
					</Directory>

					<Directory Id="RodentVRBehavioralVisualizer_INSTALLDIR" Name="RodentVRBehaviorVisualizer">
						<Component Id="BehaviorVisualizerEXEComponent" Guid="*">
							<File Source="ApplicationFiles/BehaviorVisualizer/BehaviorVisualizer.exe" KeyPath="yes">
								<Shortcut Id="startMenuBehaviorVisualizer" Icon="RodentVRBehaviorVisualizer.exe" Name="RodentVR Behavior Visualizer" Directory="RodentVRProgramMenu" WorkingDirectory="RodentVRBehavioralVisualizer_INSTALLDIR" Advertise="yes"/>
								<Shortcut Id="desktopBehaviorVisualizer" Icon="RodentVRBehaviorVisualizer.exe" Name="RodentVR Behavior Visualizer" Directory="DesktopFolder" WorkingDirectory="RodentVRBehavioralVisualizer_INSTALLDIR" Advertise="yes"/>
							</File>
						</Component>
						<Component Id="BehaviorVisualizerColorPickerLibComponent" Guid="*">
							<File Source="ApplicationFiles/BehaviorVisualizer/ColorPickerLib.dll" />
						</Component>
						<Component Id="BehaviorVisualizerControlzExComponent" Guid="*">
							<File Source="ApplicationFiles/BehaviorVisualizer/ControlzEx.dll" />
						</Component>
						<Component Id="BehaviorVisualizerMahAppsComponent" Guid="*">
							<File Source="ApplicationFiles/BehaviorVisualizer/MahApps.Metro.dll" />
						</Component>
						<Component Id="BehaviorVisualizerNumericUpDownLibComponent" Guid="*">
							<File Source="ApplicationFiles/BehaviorVisualizer/NumericUpDownLib.dll" />
						</Component>
						<Component Id="BehaviorVisualizerSystemWindowsInteractivityComponent" Guid="*">
							<File Source="ApplicationFiles/BehaviorVisualizer/System.Windows.Interactivity.dll" />
						</Component>
						<Component Id="BehaviorVisualizerXceedToolkitComponent" Guid="*">
							<File Source="ApplicationFiles/BehaviorVisualizer/Xceed.Wpf.Toolkit.dll" />
						</Component>
					</Directory>

				</Directory>

				<Directory Id="ProgramMenuFolder">
					<Directory Id="RodentVRProgramMenu" Name="RodentVR">
						<Component Id="RodentVRProgramMenuComponent" Guid="*">
							<RemoveFolder Id="RodentVRProgramMenuComponent" On="uninstall"/>
							<RegistryValue Root="HKCU" Key="Software\[ProductName]" Type="string" Value="" KeyPath="yes" />
						</Component>
					</Directory>
				</Directory>

				<Directory Id="DesktopFolder" Name="Desktop" />

			</Directory>
		</Directory>
	</Product>

	<Fragment>
		<UI>
			<Dialog Id="InstallNIDAQmxDlg" Width="370" Height="270" Title="Install NIDAQmx Drivers">
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" >
					<Publish Property="WixUI_InstallMode" Value="Update">Installed AND PATCH</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />

				<Control Id="Title" Type="Text" X="15" Y="15" Width="300" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Install NIDAQmx Drivers"/>
				<Control Id="Description" Type="Text" X="25" Y="70" Width="320" Height="50" Text="To run RodentVR, you must have NIDAQmx drivers installed. Visit the link to download and install the drivers."/>
				<Control Id="Link1" Type="Hyperlink"  X="25" Y="120" Width="220" Height="60" Transparent="no">
					<Text><![CDATA[<a href="http://www.ni.com/en-us/support/downloads/drivers/download.ni-daqmx.html">Download and Install NIDAQmx Drivers</a>]]></Text>
				</Control>
				 <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.VerifyReadyDlgBannerBitmap)" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
			</Dialog>
		</UI>
	</Fragment>

	<Fragment>
		<UI Id="WixUI_MyInstall">
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="Minimal" />

			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />
			<DialogRef Id="WelcomeDlg" />

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

			<Publish Dialog="InstallNIDAQmxDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
			<Publish Dialog="InstallNIDAQmxDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallNIDAQmxDlg">1</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallNIDAQmxDlg">1</Publish>

		</UI>

		<UIRef Id="WixUI_Common" />
	</Fragment>
</Wix>
